{{! template-lint-disable no-inline-styles }}
<EmberTable
    style={{this.height}}
    @tableId={{this.tableId}}
    @tableClasses={{this.tableClassNames}}
    as |T|
>
    <T.head
        @columns={{this.columns}}
        @enableResize={{this.enableResize}}
        @enableReorder={{this.enableReorder}}
        @widthConstraint={{this.widthConstraint}}
        @fillMode={{this.fillMode}}
        @fillColumnIndex={{this.adjustedFillColumnIndex}}
        @resizeMode={{this.resizeMode}}
        @sortFunction={{this.sortFunction}}
        @onHeaderAction={{this.onHeaderAction}}
        @onUpdateSorts={{if this.enableSort this.onUpdateSorts}}
        @onReorder={{this.onReorder}}
        @onResize={{this.onResize}}
        @sorts={{this.sorts}}
        as |Head|
    >
        <Head.row as |Row|>
            <Row.cell
                class={{concat
                    Row.columnValue.headerClassNames
                    (if Row.columnValue.isFixedLeft " data-table-col-fixed-left")
                    (if (eq Row.columnValue this.firstVisibleNonFixedColumn) " data-table-col-first-nonfixed")
                }}
                as |columnValue columnMeta|
            >
                {{! ETWA "and" + "columnValue.isVisible"}}
                {{#if (and columnValue.headerComponent columnValue.isVisible)}} 
                    {{#component
                        columnValue.headerComponent
                        columnValue=columnValue
                        columnMeta=columnMeta
                    }}
                        {{columnValue.name}}
                        <EmberTh::SortIndicator @columnMeta={{columnMeta}} />
                        {{#if this.enableUserResize}}
                            <EmberTh::ResizeHandle @columnMeta={{columnMeta}} />
                        {{/if}}
                    {{/component}}
                {{! ETWA "columnValue.isVisible"}}
                {{else if columnValue.isVisible}}
                    {{or columnValue.name (html-safe "&nbsp;")}}
                    <EmberTh::SortIndicator @columnMeta={{columnMeta}} />
                    {{#if this.enableUserResize}}
                        <EmberTh::ResizeHandle @columnMeta={{columnMeta}} />
                    {{/if}}
                    {{#if (and this.canPanLeft (eq columnValue this.firstVisibleColumn))}}
                        <button
                            class="data-table-col-pan-btn data-table-col-pan-btn-left {{panButtonClass}}"
                            {{on "click" this.panColumnsLeft}}
                            type="button"
                        >
                            &#8592;
                        </button>
                    {{/if}}
                    {{#if (and this.canPanRight (eq columnValue this.visibleColumns.lastObject))}}
                        <button
                            class="data-table-col-pan-btn data-table-col-pan-btn-right {{panButtonClass}}"
                            {{on "click" this.panColumnsRight}}
                            type="button"
                        >
                            &#8594;
                        </button>
                    {{/if}}
                {{/if}}
            </Row.cell>
        </Head.row>
    </T.head>
    <T.body
        @isLoading={{this.isLoading}}
        @isEmpty={{this.isEmpty}}
        @noResultsText={{or @noResultsText this.defaultNoResultsText}}
        @rows={{this.rows}}
        @bufferSize={{this.bufferSize}}
        @estimateRowHeight={{this.estimateRowHeight}}
        @renderAll={{this.renderAllRows}}
        @containerSelector={{this.containerSelector}}
        @lastReached={{fn this.onLastReached}}
        as |Body|
    >
        <Body.row
            class={{Body.rowValue.rowClassNames}}
            @onClick={{this.onRowClick}}
            @onDoubleClick={{this.onRowDoubleClick}}
            as |Row|
        >
            <Row.cell
                class={{concat
                    Row.columnValue.cellClassNames
                    (if Row.columnValue.isFixedLeft " data-table-col-fixed-left")
                    (if (eq Row.columnValue this.firstVisibleNonFixedColumn) " data-table-col-first-nonfixed")
                }}
                @onClick={{this.onCellClick}}
                @onDoubleClick={{this.onCellDoubleClick}}
                as |cellValue columnValue rowValue cellMeta columnMeta rowMeta|
            >
                {{! ETWA "and" + "columnValue.isVisible"}}
                {{#if (and columnValue.cellComponent columnValue.isVisible)}}
                    {{#component
                        columnValue.cellComponent
                        cellValue=cellValue
                        columnValue=columnValue
                        rowValue=rowValue
                        cellMeta=cellMeta
                        columnMeta=columnMeta
                        rowMeta=rowMeta
                    }}
                        {{cellValue}}
                    {{/component}}
                {{! ETWA "columnValue.isVisible"}}
                {{else if columnValue.isVisible}}
                    {{cellValue}}
                {{/if}}
            </Row.cell>
        </Body.row>
    </T.body>
    <T.foot
        @rows={{if (and (or this.showEmptyFooter this.rows) this.footerRows) this.footerRows}}
        as |Foot|
    >
        <Foot.row as |Row|>
            <Row.cell
                class={{concat
                    Row.columnValue.footerClassNames
                    (if Row.columnValue.isFixedLeft " data-table-col-fixed-left")
                    (if (eq Row.columnValue this.firstVisibleNonFixedColumn) " data-table-col-first-nonfixed")
                }}
                as |cellValue columnValue rowValue cellMeta columnMeta rowMeta|
            >
                {{! ETWA "and" + "columnValue.isVisible"}}
                {{#if (and columnValue.footerComponent columnValue.isVisible)}}
                    {{#component
                        columnValue.footerComponent
                        cellValue=(or (get rowValue columnValue.footerValuePath) cellValue)
                        columnValue=columnValue
                        rowValue=rowValue
                        cellMeta=cellMeta
                        columnMeta=columnMeta
                        rowMeta=rowMeta
                    }}
                        {{cellValue}}
                    {{/component}}
                {{! ETWA "columnValue.isVisible"}}
                {{else if columnValue.isVisible}}
                    {{cellValue}}
                {{/if}}
            </Row.cell>
        </Foot.row>
    </T.foot>
</EmberTable>