<div>
    <div>
        <GavantTable
            @columns={{this.columns}}
            @rows={{this.data}}
            @hasMoreRows={{this.hasMore}}
            @isLoading={{this.isLoadingModels}}
            @loadMoreRows={{action "loadMoreModels"}}
            @updateSorts={{action "updateSorts"}}
            @enableSort={{false}}
        />
    </div>
</div>