<div class="pannable-table">
    <label for="foobar">Foo:</label>
    <input id="foobar" value="{{this.foobar}}" {{on "input" this.updateFoobar}}/>
    <button
      type="button"
      {{on "click" this.toggleColumns}}
    >
      Toggle Columns
    </button>
    <Table
        @columns={{this.columns}}
        @rows={{this.data}}
        @footerRows={{this.footerData}}
        @hasMoreRows={{this.hasMore}}
        @isLoading={{true}}
        @loadMoreRows={{fn this.loadMoreModels}}
        @updateSorts={{fn this.updateSorts}}
        @enableSort={{this.enableSort}}
        @onRowClick={{this.alertData}}
        @panButtonClass="btn-primary"
        @rowComponent="row/expandable-row"
        @tableMeta={{hash
          expandedRowComponent="custom-row"
        }}
        @resizeDebounce={{this.resizeDebounce}}
        @showHeader={{this.showHeader}}
        @stripedRows={{this.stripedRows}}
        @enableReorder={{true}}
        @enableUserResize={{true}}
    />
</div>