<div class="pannable-table">
    <label for="foobar">Foo:</label>
    <input id="foobar" value="{{this.foobar}}" {{on "input" this.updateFoobar}}/>
    <Table
        @columns={{this.columns}}
        @rows={{this.data}}
        @footerRows={{this.footerData}}
        @hasMoreRows={{this.hasMore}}
        @isLoading={{this.isLoadingModels}}
        @loadMoreRows={{fn this.loadMoreModels}}
        @updateSorts={{fn this.updateSorts}}
        @enableSort={{true}}
        @onRowClick={{this.alertData}}
        @panButtonClass="btn-primary"
        @tableMeta={{hash
          foobar=this.foobar
        }}
    />
</div>