<div class="pannable-table">
    <Table
        @columns={{this.columns}}
        @rows={{this.data}}
        @footerRows={{this.footerData}}
        @hasMoreRows={{this.hasMore}}
        @isLoading={{this.isLoadingModels}}
        @loadMoreRows={{action "loadMoreModels"}}
        @updateSorts={{action "updateSorts"}}
        @enableSort={{true}}
        @onRowClick={{action "alertData"}}
    />
</div>