<div class="pannable-table">
    <button
      type="button"
      {{on "click" this.toggleColumns}}
    >
      Toggle Columns
    </button>
    <Table
        @columns={{this.columns}}
        @rows={{this.model}}
        @footerRows={{this.footerData}}
        @hasMoreRows={{this.hasMore}}
        @isLoading={{this.isLoading}}
        @loadMoreRows={{this.loadMoreModels}}
        @enableSort={{true}}
        @onRowClick={{this.alertData}}
        @panButtonClass="btn-primary"
        @rowComponent="row/expandable-row"
        @tableMeta={{hash
          expandedRowComponent="custom-row"
          expandedRows=this.expandedRows
        }}
        @staticHeight={{false}}
        @headerStickyOffset={{60}}
        @sorts={{this.sorts}}
        @updateSorts={{this.updateSorts}}
    />
</div>
